version: 2.1

orbs:
  windows: circleci/windows@5.0.0
  python: circleci/python@2.1.1

filters-release: &filters-release
  branches:
    only: main
  tags:
    only: /^v\d+\.\d+\.\d+$/

filters-development: &filters-development
  branches:
    ignore: main

jobs:
  lint:
    executor:
      name: "python/default"
      tag: "3.9"

    steps:
      - checkout

      - python/install-packages:
          pkg-manager: "poetry"
          args: "--no-ansi"

      - run: poetry run pip install pre-commit

      - run:
          name: "Create a temporary file for getting a cache key"
          command: |
            cp .pre-commit-config.yaml /tmp/checksum.txt
            poetry run python --version >> /tmp/checksum.txt

      - restore_cache:
          key: pre-commit-{{ checksum "/tmp/checksum.txt" }}

      - run: poetry run pre-commit run --all-files

      - save_cache:
          key: pre-commit-{{ checksum "/tmp/checksum.txt" }}
          paths:
            - ~/.cache/pre-commit

  lint-lua:
    docker:
      - image: pipelinecomponents/luacheck:latest

    steps:
      - checkout

      - run:
          name: "Check lua files"
          command: luacheck --globals=cmd --globals=env -- examples

  test:
    parameters:
      version:
        type: string

    executor:
      name: "python/default"
      tag: << parameters.version >>

    steps:
      - checkout

      - run:
          name: Update poetry
          command: poetry self update

      - python/install-packages:
          pkg-manager: "poetry"

      - run: poetry run pytest

  build-on-linux:
    docker:
      - image: python:3.9-bullseye

    steps:
      - checkout

      - run:
          name: "Build project"
          command: bash scripts/package.sh

      - persist_to_workspace:
          root: "dist"
          paths:
            - "dosh-*.tar.gz"

  build-on-macos:
    macos:
      xcode: 12.5.1

    steps:
      - checkout

      - run:
          name: "Add symlinks for python and pip"
          command: |
            mkdir -p ~/.local/bin
            ln -s $(which python3) ~/.local/bin/python
            ln -s $(which pip3) ~/.local/bin/pip

      - run:
          name: "Build project"
          command: bash scripts/package.sh

      - persist_to_workspace:
          root: "dist"
          paths:
            - "dosh-*.tar.gz"

  build-on-windows:
    executor: windows/server-2022

    steps:
      - checkout

      - run:
          name: "Build project"
          command: bash scripts/package.sh

      - persist_to_workspace:
          root: "dist"
          paths:
            - "dosh-*.tar.gz"

  release:
    docker:
      - image: cimg/base:2022.08

    steps:
      - attach_workspace:
          at: .

      - store_artifacts:
          path: .

workflows:
  pr-checks:
    jobs:
      - lint:
          filters: *filters-development

      - lint-lua:
          filters: *filters-development

      - test:
          matrix:
            parameters:
              version: ["3.8", "3.9", "3.10", "3.11"]
          filters: *filters-development

  main:
    jobs:
      - build-on-linux:
          filters: *filters-release

      - build-on-macos:
          filters: *filters-release

      - build-on-windows:
          filters: *filters-release

      - release:
          requires:
            - build-on-linux
            - build-on-macos
            - build-on-windows
          filters: *filters-release
